Options +FollowSymLinks
Options -MultiViews
RewriteEngine on

Redirect 301 /help.pdf http://pico-cms.com/user-manual

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule .* ./index.php [L]
