
.noheight
{
	height: auto;
}

.blog_pad
{
	padding: 1px 0;
}

.blog_home
{
	margin-top: 45px;
	padding: 10px;
}

h3.blog_choice,
#ap_content form h3.blog_choice
{
	color: #000;
	font-family: arial, helvetica;
	font-size: 16px;
	font-weight: bold;
	margin: 10px 0;
}

table.blog_start
{
	width: auto;
	margin: 0 auto;
}

table.blog_start td
{
	padding: 5px 0;
	padding-right: 5px;
}

.blog_home
{
	text-align: center;
}

.blog_existing
{
	height: 150px;
	width: 500px;
	margin: 0 auto;
	overflow-y: scroll;
	overflow-x: hidden;
	background: #fff;
}

table.blog_entry_list td
{
	padding: 3px;
	text-align: left;
}

table.blog_entry_list tr.a td
{
	background: #abd485;
}
table.blog_entry_list tr.b td
{
	background: #cccccc;
}

table.blog_entry_list td.title
{
	width: 350px;
}

table.blog_entry_list td.date
{
	width: 100px;
}

table.blog_entry_list td.actions
{
	width: 50px;
}

div.tab_button
{
	width: 75px;
	padding: 3px;
	font-size: 10px;
	font-family: arial, helvetica;
	color: #000;
	cursor: pointer;
	text-align: center;
	border: 1px #000 solid;
	background: #fff;
	line-height: 10px;
}

div.tabbed_content
{
	display: none;
	position: relative;
}

table.blog_tablist td
{
	padding-right: 1px;
}

table.blog_tablist
{
	margin-bottom: 5px;
}

#blog_status, #blog_status2
{
	font-size: 10px;
	font-style: italic;
	color: #000;
	font-family: arial, helvetica;
}

table.blog_options td
{
	padding: 3px;
	padding-right: 5px;
}

table.blog_options td.left
{
	font-weight: bold;
}

table.blog_options td.center
{
	text-align: center;
}

#blog_admin_comments .name,
#blog_admin_comments .date
{
	width: 100px;
	float: left;
	overflow: hidden;
	height: 50px;
}

#blog_admin_comments .actions
{
	width: 50px;
	float: left;
	overflow: hidden;
	height: 50px;
}

#blog_admin_comments .message
{
	width: 400px;
	height: 50px;
	float: left;
	overflow: hidden;
}

#blog_admin_comments .message .inactive
{
	font-style: italic;
}

.blog_admin_comment
{
	padding-bottom: 3px;
	margin-bottom: 3px;
	border-bottom: 1px #ccc solid;
}

ul.variable_list li
{
	position: relative;
}

ul.variable_list div.variable_tooltip
{
	display: none;
	position: absolute;
	left: 0;
	top: 100%;
	border: 1px #000 solid;
	padding: 5px;
	color: #000;
	font-size: 10px;
	background: #fff;
	z-index: 5;
	width: 250px;
	text-decoration: none;
}

ul.variable_list li:hover
{
	cursor: pointer;
	text-decoration: underline;
}

ul.variable_list li:hover > div.variable_tooltip
{
	display: block;
}

ul.variable_list ul li:hover
{
	text-decoration: none;
}

#blog2_tagbox, div.blog_subbox
{
	position: absolute;
	left: 15px;
	top: 15px;
	bottom: 15px;
	right: 15px;
	border: 1px #000 solid;
	background: #fff;
	padding: 10px;
	overflow: auto;
}

#blog2_tagbox .tag_col, div.blog_subbox .col
{
	width: 176px;
	padding-right: 5px;
	float: left;
}

#blog2_tagbox .title, div.blog_subbox .title
{
	font-weight: bold;
	margin: 10px 0;
	text-align: center;
}

#blog2_tagbox .active, div.blog_subbox .active
{
	font-weight: bold;
}

#blog2_tagbox .tag_entry, div.blog_subbox .entry
{
	border-top: 1px #fff solid;
	padding: 1px 0 1px 5px;
}

#blog2_tagbox .tag_entry.a, div.blog_subbox .entry.a
{
	background: #bbde9c;
}

#blog2_tagbox .tag_entry.b , div.blog_subbox .entry.b
{
	background: #ECECEC;
}

#blog2_tagbox .tag_entry:hover, div.blog_subbox .entry:hover
{
	text-decoration: underline;
	cursor: pointer;
}

#blog_edit_sidebar
{
	position: absolute;
	top: 48px;
	right: 0;
	width: 155px;
	margin: 0;
	padding: 0;
}

#blog_edit_sidebar li
{
	list-style-type: none;
}

#blog_edit_sidebar li.active
{
	font-weight: bold;
}

#blog_status
{
	position: absolute;
	top: 130px;
	right: 10px;
	width: 145px;
}

#blog_category_list, #blog_tags
{
	border: 1px #a9abb0 solid;
	margin-bottom: 5px;
	padding: 2px;
	background: #fff;
	width: 400px;
}

#blog_tags
{
	height: 50px;
}